body {
    padding-top: 50px;
    padding-bottom: 20px;
}

@media (max-width:767px){
    .row{
        margin: -5px;
    }
}

.text-middle {
    vertical-align: middle;
}

.achievements {
    width: 32px;
    height: 32px;
}