/*
 * A small collection of Tailwind CSS utility classes
 */

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-none {
  flex: none;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.ml-auto {
  margin-left: auto;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.w-full {
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.text-gray-600 {
  color: #718096;
}

.text-red-600 {
  color: #e53e3e;
}

.not-italic {
  font-style: normal;
}

.font-mono {
  font-family: monospace;
}

.rounded {
  border-radius: .25rem;
}

.break-all {
  word-break: break-all;
}
